# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
terraform/minikube-linux-amd64
kubernetes/get_helm.sh
terraform/minikube-linux-amd64
